@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

@import "../bower_components/font-awesome/less/font-awesome.less";
@FontAwesomePath: "../fonts/font-awesome";

@import "../bower_components/lesshat/lesshat.less";

@import url(http://fonts.googleapis.com/css?family=Raleway:400,800,200);

// Project variables
@import "variables.less";

@import "nestable.less";

//---------------------------------------------------------------------------------

html {

	height: 100%;
	min-height: 100%;

}

body {

	width: 100%;
	height: 100%;
	font-family: @font-family;
	font-weight: 400;
	background-color: @body-bg;

}

.wrapper {

	position: relative;
	height: 100%;
	padding-left: @gutter;
	padding-right: @gutter;
	margin: 0 auto;
	z-index: 1;

	h1, h2, h3, h4, h5, h6 {

		font-family: @font-family;
		margin: 0;

	}
	
	&.login {

		.gradient(~"radial-gradient(rgb(230, 236, 181), rgb(102, 126, 40))");

	}

	#login {	

		#login-panel {

			padding-top: 20px;

			h1, h2 {
				
				text-align: center;
				margin: 0 auto 20px;

			}

			h1 {

				font-family: @font-family;

				span {
					font-weight: 800;
				}

				small {
					color: @gray-dark;
				}
			}

			form#login-form {

				background: #fff;
				padding: @gutter @gutter;
				.box-shadow(~"0 1px 5px #000");
				.border-radius(8px);

			}

		}

	}

	& > footer {

		position: relative;
		text-align: center;
		height: 40px;
		padding: 10px 0;

	}

	#login + footer {

		position: fixed;
		width: 240px;
		margin-left: -120px;
		bottom: 0;
		left: 50%;

	}

	//---------------------------------------------------------------------------------
	//	PAGE
	//---------------------------------------------------------------------------------


	#page {
		
		height: inherit;

		#page-panel {

			position: relative;
			overflow: hidden;				
			padding: @gutter;

			min-height: 300px;
			height: inherit;
			background: #fff;

			.btn {

				font-weight: 600;
				text-transform: uppercase;

			}
			
			.label-msg {

				position: absolute;
				top: 50%;
				left: 20%;
				right: 20%;
				margin-top: -18px;
				padding: 10px;
				.border-radius(4px);
				background-color: @gray-light;
				font-weight: 400;
				color: #fff;
				text-align: center;

			}

			#overlay {

				display: none;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				z-index: 90;
				background-color: #fff;
				.opacity(0.5);

			}
			
			h3 {

				margin: 20px 0;
				font-size: 1.3em;
				font-weight: 600;
				color: @gray;
				text-transform: capitalize;
				padding-bottom: @gutter;
				border-bottom: 1px solid @btn-default-border;
				
				&:first-of-type {

					margin-top: 0;

				}

				&:before {

					content: ':: ';

				}
			}
			
			.info-list {

				padding: 0 20px 10px;

				li {

					font-size: .8em;
					font-weight: 600;
					color: @gray !important;

				}

			}

			form {

				.control-label {

					display: block;	
					color: @gray;

					.counter {

						float: right;
						color: @gray-light;

					}

				}

				.has-error {
					
					.control-label {

						color: @brand-danger;

					}

					.help-block {

						font-size: .9em;
						font-weight: 600;
						color: @gray !important;

					}

				}

				.help-block {

					font-size: .9em;
					font-weight: 600;
					color: @gray !important;

				}				

				.form-buttons {

					.clearfix();
					padding: 20px @gutter;
					margin: 0 -@gutter -@gutter -@gutter;
					background-color: @gray-subbar;
					border-top: 1px solid @btn-default-border;
					border-bottom: 1px solid @btn-default-border;

					.btn-danger {

						margin-top: 20px;

					}

				}
				
				.preview {

					text-align: left;
					display: block;
					width: 100%;

				}

				&#page-seo-form {

					textarea {
						min-height: 75px;
					}

				}

				&#page-files-form {

					.size {
						
						input {

							display: inline-block;
							width: 100px;

						}

						select {

							display: inline-block;
							width: 60px;
							margin-left: 5px;

						}

					}

				}

			}

			.status-bar();

		}

	}


}

//---------------------------------------------------------------------------------
//	UPLOAD MIXIN
//---------------------------------------------------------------------------------

.status-bar {
	
	ul {

		padding: 10px 5px 0;
		text-align: left !important;

		li {

			margin-bottom: 5px;
			font-size: .9em;
			font-weight: 600;
			color: @gray;

			i {

				display: inline-block;
				margin-right: 5px;
				min-width: 13px;
				text-align: center;

				&.success {

					color: @brand-success;

				}

				&.error {

					color: @brand-danger;

				}

			}

			span {

				float: right;
				font-size: .8em;
				font-weight: 400;
				color: @gray-light;

				&.error {

					color: @brand-danger !important;

				}

			}

			&.error {

				color: @brand-danger !important;

			}

			&.error.msg {

				padding-left: 18px;

			}

		}

	}

}

//---------------------------------------------------------------------------------
//	SUBBAR
//---------------------------------------------------------------------------------

.subbar {

	position: relative;
	width: 100%;
	// padding: 0 40px 0 40px;
	padding: 0;
	background-color: @gray-subbar;
	border-bottom: 1px solid @gray-light;
	.clearfix();

	.box {
		
		position: relative;
		float: left;
		width: 100%;
		min-height: 44px;
		padding: 5px 0 5px 10px;

		h2 {

			font-size: 1.3em;
			font-weight: 600;
			line-height: 24px;
			padding-top: 6px;

			a {

				color: @gray-dark;
				text-decoration: none;
				margin-right: 3px;
				
				&:hover {

					color: @brand-primary;

				}

				&:after {

					margin-left: 10px;
					font-family: FontAwesome;
					content: "\f0da";
					color: @brand-primary;

				}

			}
			
			em {

				font-style: normal;
				margin-right: 3px;

				&:after {

					margin-left: 10px;
					font-family: FontAwesome;
					content: "\f0da";
					color: @brand-primary;

				}

			}

			div {

				display: block;
				font-family: @font-family-base;
				font-size: .6em;
				font-weight: 800;
				line-height: 10px;
				padding: 4px 0 0 0;

				span {

					margin-left: 3px;
					font-weight: 400;

				}

			}

		}

	}

	.subbar-toggle {

		position: absolute;
		top: 0;		
		z-index: 10;
		height: inherit;
		border: none;
		font-size: 1.7em;
		color: @gray-dark;
		background-color: @gray-subbar;
		cursor: pointer;

		&.right-toggle {
			
			right: 0;
			width: 40px;
			height: inherit;

			span {

				position: absolute;
				display: block;
				top: 3px;
				right: 2px;
				
				padding: 2px 3px 2px 2px ;

				font-family: @font-family-base;
				font-size: 11px;
				font-weight: 400;
				letter-spacing: -1px;

			}

		}

		&.element-toggle {

			font-size: 1.4em;
			padding: 9px 6px 7px 0;
			
		}

		&.file-toggle {

			font-size: 1.6em;
			padding: 9px 1px 4px 0;

		}

		&.options-toggle {

			left: 0;
			width: 40px;
			padding: 9px 0 7px 0;
			font-size: 1.4em;

		}

		&.role-toggle {

			font-size: 1.4em;
			padding: 9px 4px 7px 2px;
			
		}

	}
	
}

.option-bar ~ .subbar {

	padding-left: 40px;

}

.right-bar ~ .subbar {

	padding-right: 40px;

}

//---------------------------------------------------------------------------------
//	NAVBAR
//---------------------------------------------------------------------------------

.navbar {
	
	.border-radius(0);
	border: none !important;
	margin: 0;
	padding: 0;

	width: 100%;
	min-height: @navbar-h;

	.navbar-header {

		text-align: center;

		.navbar-brand {

			float: none;
			display: inline-block;

		}

	}
	
	.toggle {

		position: relative;
		padding: 6px 8px 4px 9px;
		background-color: @gray-dark;
		border: none;
		font-size: 2em;
		color: @gray-lighter;
		z-index: 10;
		cursor: pointer;

	}

	.page-toggle {

		float: left;
		padding: 6px 11px 4px 10px;

	}

	.menu-toggle {

		float: right;

	}

	.navbar-brand {

		span {

			font-weight: 800;

		}

	}

	.navbar-collapse {

		border: 0;
		.box-shadow(none);

	}

}

//---------------------------------------------------------------------------------
//	PAGE BAR
//---------------------------------------------------------------------------------

.wrapper,
.navbar,
.subbar,
.page-bar,
.right-bar,
.option-bar,
.modal-box,
#page-panel,
#overlay {

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;

}

.push-right-options {
	
	position: fixed;
	overflow: hidden;
	top: 0;

	.wrapper {

		left: @treshold*.66;
		top: -@navbar-h - 1;

	}

	.option-bar {

		left: 0;

	}

	#overlay {

		display: block !important;

	}

}

.push-right {
	
	position: fixed;
	overflow: hidden;
	top: 0;

	.wrapper {

		left: @treshold;
		
	}

	.page-bar {

		left: 0;

	}

	#overlay {

		display: block !important;

	}

}

.push-left {
	
	position: fixed;
	overflow: hidden;
	top: 0;

	.wrapper {

		right: @treshold;
		top: -@navbar-h - 1;

	}

	.right-bar {

		right: 0;

	}

	#overlay {

		display: block !important;

	}

}

.push-left-clone {
	
	position: fixed;
	overflow: hidden;
	top: 0;

	.wrapper {

		right: @treshold;
		top: 0;

	}

	.clone-bar {

		right: 0;

	}

	#overlay {

		display: block !important;

	}

}

.open-modal {

	#overlay {

		position: fixed;
		display: block !important;

	}

}

.option-bar {

	position: fixed;
	top: 0;
	left: -@treshold*.66;

	width: @treshold*.66;
	height: 100%;

	background-color: @gray-subbar;
	border-right: 1px solid @gray-light;
	z-index: 20;

	.option-body {

		height: 100%;
		padding: 10px 10px 10px 13px;
		overflow-y: auto;
		color: @gray;
		border-left: 12px dotted @gray;

		header {

			position: relative;
			padding-bottom: 0px;

			h2 {

				font-family: @font-family;
				font-size: 22px;
				font-weight: 400;
				margin: 5px 0 20px 0;
				color: @gray;
				text-transform: uppercase;

			}

		}

		.options {

			li {

				margin-top: 5px;				
				background-color: @gray;
				.border-radius(4px);

				&:first-child {

					margin-top: 0;

				}

				a {

					display: block;
					color: #fff;
					text-transform: uppercase;
					text-decoration: none;
					padding: 8px 10px;

				}

				&:hover {

					background-color: darken(@gray, 5%);

				}

				&.active {
					
					background-color: @brand-primary;

					&:hover {

						background-color: darken(@brand-primary, 5%);

					}

				}

			}

		}

	}

}

.right-bar {

	position: fixed;
	top: 0;
	right: -@treshold;

	width: @treshold;
	height: 100%;

	background-color: @gray-subbar;
	border-left: 1px solid @gray-light;
	z-index: 20;

	.right-body {

		position: relative;
		height: 100%;
		padding: 10px 10px 10px 10px;
		overflow-y: auto;
		color: @gray;
		border-right: 12px dotted @gray;		
		overflow: hidden;
		
		&.multi {

			padding-bottom: (@navbar-h + 10);

		}

		header {

			position: relative;
			padding-bottom: 10px;
			text-align: right;

			h2 {

				font-family: @font-family;
				font-size: 22px;
				font-weight: 400;
				margin: 5px 0 20px 0;
				color: @gray;
				text-align: right;
				text-transform: uppercase;

			}
			
			.btn {

				font-weight: 600;
				text-transform: uppercase;

			}

			button.btn {

				font-weight: 400;
				text-transform: capitalize;

			}

			.status-bar();

		}
		
		.multi-panel {

			position: absolute;
			left: 0;
			margin: 0;
			padding: 0;
			list-style-type: none;
			overflow: hidden;
			width: 1000px;
			padding-bottom: @navbar-h + @gutter;

			& > li {

				vertical-align: top;
				display: inline-block;
				width: 282px;
				padding-left: 10px;
				padding-right: 10px;

			}

		}

	}

	footer {

		position: absolute;
		left: 0;
		bottom: 0;
		width: inherit;
		background-color: @gray;
		height: @navbar-h;
		.opacity(.95);

		ul.toolbar {

			display: table;
			width: inherit;
			height: inherit;
			margin: 0;
			padding: 0;

			li {

				display: table-cell;
				height: 100%;
				margin: 0;
				
				a {

					display: block;
					padding-top: 10px;
					font-size: 1.8em;
					text-align: center;
					height: inherit;
					color: #fff;
					
					&:hover {

						text-decoration: none;
						color: @brand-info;

					}

				}

				&.active {

					background-color: @brand-primary;

					a {

						color: #fff;

					}

				}

			}

		}

	}

}

.page-bar {

	position: fixed;
	top: 0;
	left: -@treshold;

	width: @treshold;
	height: 100%;

	background-color: @gray-dark;
	border-right: 1px solid @navbar-inverse-border;
	z-index: 30;

	.page-body {

		height: 100%;
		padding: 10px 10px 10px 13px;
		overflow-y: auto;
		color: @gray-lighter;
		border-left: 12px dotted @gray;

		header {
			
			position: relative;
			padding-bottom: 10px;

			h2 {

				font-family: @font-family;
				font-size: 22px;
				font-weight: 400;
				margin: 5px 0 20px 0;
				color: @gray;
				text-align: left;
				text-transform: uppercase;

			}
			
			.page-controls {

				position: absolute;
				top: 2px;
				right: 0;
				font-size: 1.2em;

				i {

					color: @gray;
					cursor: pointer;

				}

				i + i {

					margin-left: 10px;

				}

			}

			select {

				display: inline;
				width: 57%;

			}

			button {

				float: right;
				width: 40%;

			}

		}

	}

}

//---------------------------------------------------------------------------------
//	MODAL
//---------------------------------------------------------------------------------	
	
.modal-box {

	position: fixed;
	left: 0;
	width: 100%;
	z-index: 0;
	padding: @gutter;
	color: @gray-light;
	background: @gray-dark;
	.box-shadow(~"0 1px 5px #000");
	
	&.open {

		top: 0 !important;

	}
	
	h3 {

		font-family: @font-family;
		font-size: 1.5em;
		font-weight: 400;
		margin: 5px 0 20px 0;

	}

	form {
		
		label {

			font-weight: 400;

		}

		.form-buttons {

			padding-top: 10px;

			.btn {

				font-weight: 600;
				text-transform: uppercase;
				width: 49%;

			}

		}

	}

}

//---------------------------------------------------------------------------------
//	ALERT ANIMATION
//---------------------------------------------------------------------------------
	
.alert-msg {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 14px 0;
	text-align: center;
	font-size: 1.2em;
	font-weight: 400;
	z-index: 1001;

	background: @body-bg;
	.box-shadow(~"0 1px 5px #000");

	&.error {

		color: @btn-danger-color;
		background: @brand-danger;

	}

	&.info {

		color: @btn-primary-color;
		background: @brand-primary;

	}

	&.success {

		color: @btn-success-color;
		background: @brand-success;

	}

	&.fixfixed {

		position: absolute !important;

	}
}

.cssanimations.csstransforms .alert-msg {

	.transform(~"translateY(-62px)");
	.animation(~"slideDown 2.0s .1s 1 ease forwards;");

}

@keyframes slideDown {

	0%, 100% { transform: translateY(-62px); }
	0%, 100% { -ms-transform: translateY(-62px); }
	10%, 90% { transform: translateY(0px); }
	10%, 90% { -ms-transform: translateY(0px); }

}
@-webkit-keyframes slideDown {

	0%, 100% { -webkit-transform: translateY(-62px); }
	10%, 90% { -webkit-transform: translateY(0px); }

}
@-moz-keyframes slideDown {

	0%, 100% { -moz-transform: translateY(-62px); }
	10%, 90% { -moz-transform: translateY(0px); }

}

//---------------------------------------------------------------------------------
//	CLOSE BUTTON
//---------------------------------------------------------------------------------

.close {

	font-family: @font-family-base;
	color: @gray-light;

}

//---------------------------------------------------------------------------------
//	LAYOUT PREVIEW
//---------------------------------------------------------------------------------

#template-preview {

	font-size: .8em;
	font-weight: 600;
	color: @gray;
	text-transform: uppercase;
	text-align: center;

	& > div#header-preview,
	& > div#footer-preview {

		.layout-item();
	}

	#layout-preview {

		padding: 5px 0 !important;

		div {
			
			min-height: 100px;

			& > div {

				.layout-item();

				&.active {

					border-color: @brand-info;
					
				}
			}
		}

	}

}

.layout-item {

	border: 3px solid @gray-light;
	padding: 5px !important;

}

//---------------------------------------------------------------------------------
//	MEDIA QUERIES
//---------------------------------------------------------------------------------

/* Small devices (height viewport 330px) */
@media (max-height : 330px)
and (max-device-width : @iphone5-h) {
	
	.wrapper {
		height: auto !important;
		footer {
			position: relative !important;
		}

	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) {

	.wrapper {

		.navbar {
			.menu-toggle {
				display: none;
			}
		}

		#login {
			
			height: 100%;
			position: relative;
			width: 708px;
			margin: 0 auto;

			#login-panel {

				position: absolute;
				margin: -104px auto;
				float: none;
				top: 50%;
				left: 0;
				right: 0;

			}

			form#login-form {
				
				display: table;

				.form-group {
					
					display: table-cell;
					padding-left: 3px;

					&:first-child {

						padding-left: 0

					}

				}

				button {

					display: inline;
					width: 140px;
					margin-top: 25px;

				}
			}

		}

		.form-buttons {

			.btn-block {

				display: inline-block;
				padding: @padding-base-vertical @padding-base-horizontal;
				width: auto;
				min-width: 120px;
				margin-top: 0 !important;

				&.api {

					float: right;

				}

			}

		}

	}

}

/* iPads (portrait) -------- */
@media only screen
and (min-device-width : @screen-sm)
and (max-device-width : @ipad-h)
and (orientation : portrait) {

	.wrapper {

		/*#login {

			.form-group {
				max-width: 250px;
			}

		}*/

	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) {

	.wrapper {

		position: absolute;
		left: 0;
		right: 0;
		padding-top: @navbar-h;

		.navbar {

			position: fixed;
			top: 0;
			left: 0;
			width: 100%;

		}

		.option-bar {

			padding-top: @navbar-h;
			left: 0;
			
			.option-body {

				border: 0;

			}

		}

		.right-bar {
			
			padding-top: @navbar-h;
			right: 0;

			& ~ .subbar {

				padding-right: @treshold + @gutter !important;

			}

			.right-body {

				padding: 10px !important;
				border: 0;

				.multi-panel {
					
					padding-left: 0;
					padding-right: 0;

					& > li {

						padding-left: 10px;
						padding-right: 0;
						
					}

				}
			}

		}
		
		.option-bar ~ .subbar {

			padding-left: @treshold*.66 !important;

		}
		

		.option-bar ~ #page-panel {

			padding-left: @treshold*.66 + @gutter !important;

		}

		.right-bar + .subbar {

			.right-toggle {

				display: none !important;

			}

		}

		.right-bar ~ #page-panel {

			padding-right: @treshold + @gutter !important;

		}

		.option-bar + .right-bar {

			right: -@treshold !important;

			& + .subbar {

				.right-toggle {

					display: inline !important;

				}

			}

			& ~ #page-panel {

				padding-right: @gutter !important;

			}

		}

	}	

	.push-left {

		.wrapper {

			position: fixed;
			right: @treshold;
			top: 0 !important;
			padding-top: @navbar-h;

			.subbar {

				padding-left: 0 !important;

			}
			
			#page {

				#page-panel {

					padding-left: @gutter !important;

				}

			}

			.option-bar {

				left: -@treshold*.66;

				& + .right-bar {

					right: 0 !important;

					& + .subbar {

						.options-toggle {

							display: none !important;

						}

					}

				}

			}

		}

	}

	.push-right {

		.wrapper {

			.navbar {
				
				left: @treshold;

			}
			
			.subbar {

				.right-toggle {

					display: none !important;

				}

			}

			.option-bar {
				
				left: @treshold;

			}

			#overlay {

				position: fixed !important;
				top: @navbar-h !important;
				left: @treshold !important;

			}

			.right-bar {

				right: -@treshold;

				& ~ .subbar {

					padding-right: @gutter !important;

				}

				& ~ #page-panel {

					padding-right: @gutter !important;

				}

			}

		}

	}

	.modal-box {
		padding-left: @treshold*.66 + @gutter;
		padding-right: @treshold*.66 + @gutter;

		form {

			.form-buttons {
				
				text-align: right;

				.btn {
					max-width: 140px;
				}

			}

		}
	}

}

/* iPads (landscape) -------- */
@media only screen
and (min-device-width : @screen-sm)
and (max-device-width : @ipad-h)
and (orientation : landscape) {

	.wrapper {

		

	}
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) {

	.wrapper {
		
		#page {
			
			#page-panel {

				#overlay {

					position: fixed !important;

				}
			}

		}		

		.right-bar {

			padding-top: @navbar-h;

		}

		.option-bar + .right-bar {

			right: 0 !important;

			& + .subbar {
				
				padding-right: @treshold + @gutter !important;

				.right-toggle {

					display: none !important;

				}

			}

			& ~ #page-panel {

				padding-right: @treshold + @gutter !important;

			}

		}

	}
	
	.modal-box {

		padding-left: @treshold*.66 + @gutter;
		padding-right: @treshold;

	}

	.push-right {
		
		.wrapper {
			
			#page {
			
				#page-panel {

					padding-right: @gutter !important;

				}

			}
			
			.option-bar + .right-bar {

				right: -@treshold !important;

			}

		}
		
	}

}

